<div class="container">
   <div class="row">
     <div class="span9">
       <section id='body_content'>
         <%=raw @page.content_for(:body) %>
       </section>
     </div>
     <div class="span3">
       <section id='side_body_content'>
         <%=raw @page.content_for(:side_body) %>
       </section>
     </div>
   </div>
 </div>
